# Pre procesamiento de Datos 
Autoria a Ian Link

## A. Configuraciones generales.

In [1]:
#1. Librerías.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#2. Constantes.
#semillas y valores de ganancia
semilla=[100183,200003,300017,700001,800011]
ganancia_acierto = 273000
costo_estimulo = 7000

#meses
mes_train_all = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
                 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
                 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
                 202101, 202102, 202103, 202104, 202105, 202106]

mes_train_6 = [202101, 202102, 202103, 202104, 202105, 202106]
mes_train_12 = [202006, 202007, 202008, 202009, 202010, 202011, 202012,
                 202101, 202102, 202103, 202104, 202105, 202106]
mes_test = 202108

In [3]:
#Valores financieros y meses. , gran laburo de IAN
#i. Listas.
vfoto_mes = [201901, 201902, 201903, 201904, 201905, 201906,
  201907, 201908, 201909, 201910, 201911, 201912,
  202001, 202002, 202003, 202004, 202005, 202006,
  202007, 202008, 202009, 202010, 202011, 202012,
  202101, 202102, 202103, 202104, 202105, 202106,
  202107, 202108, 202109]
vIPC = [1.9903030878, 1.9174403544, 1.8296186587,
  1.7728862972, 1.7212488323, 1.6776304408,
  1.6431248196, 1.5814483345, 1.4947526791,
  1.4484037589, 1.3913580777, 1.3404220402,
  1.3154288912, 1.2921698342, 1.2472681797,
  1.2300475145, 1.2118694724, 1.1881073259,
  1.1693969743, 1.1375456949, 1.1065619600,
  1.0681100000, 1.0370000000, 1.0000000000,
  0.9680542110, 0.9344152616, 0.8882274350,
  0.8532444140, 0.8251880213, 0.8003763543,
  0.7763107219, 0.7566381305, 0.7289384687]
vdolar_blue = [39.045455,  38.402500,  41.639474,
   44.274737,  46.095455,  45.063333,
   43.983333,  54.842857,  61.059524,
   65.545455,  66.750000,  72.368421,
   77.477273,  78.191667,  82.434211,
  101.087500, 126.236842, 125.857143,
  130.782609, 133.400000, 137.954545,
  170.619048, 160.400000, 153.052632,
  157.900000, 149.380952, 143.615385,
  146.250000, 153.550000, 162.000000,
  178.478261, 180.878788, 184.357143]
vdolar_oficial = [38.430000,  39.428000,  42.542105,
   44.354211,  46.088636,  44.955000,
   43.751429,  54.650476,  58.790000,
   61.403182,  63.012632,  63.011579,
   62.983636,  63.580556,  65.200000,
   67.872000,  70.047895,  72.520952,
   75.324286,  77.488500,  79.430909,
   83.134762,  85.484737,  88.181667,
   91.474000,  93.997778,  96.635909,
   98.526000,  99.613158, 100.619048,
  101.619048, 102.569048, 103.781818]
vUVA = [2.001408838932958,  1.950325472789153,  1.89323032351521,
  1.8247220405493787, 1.746027787673673,  1.6871348409529485,
  1.6361678865622313, 1.5927529755859773, 1.5549162794128493,
  1.4949100586391746, 1.4197729500774545, 1.3678188186372326,
  1.3136508617223726, 1.2690535173062818, 1.2381595983200178,
  1.211656735577568,  1.1770808941405335, 1.1570338657445522,
  1.1388769475653255, 1.1156993751209352, 1.093638313080772,
  1.0657171590878205, 1.0362173587708712, 1.0,
  0.9669867858358365, 0.9323750098728378, 0.8958202912590305,
  0.8631993702994263, 0.8253893405524657, 0.7928918905364516,
  0.7666323845128089, 0.7428976357662823, 0.721615762047849]

#ii. Lo junto en un dataframe.
tb_indices = pd.DataFrame({
    'IPC': vIPC,
    'dolar_blue': vdolar_blue,
    'dolar_oficial': vdolar_oficial,
    'UVA': vUVA,
    'foto_mes': vfoto_mes
})

In [4]:
tb_indices.head()

        IPC  dolar_blue  dolar_oficial       UVA  foto_mes
0  1.990303   39.045455      38.430000  2.001409    201901
1  1.917440   38.402500      39.428000  1.950325    201902
2  1.829619   41.639474      42.542105  1.893230    201903
3  1.772886   44.274737      44.354211  1.824722    201904
4  1.721249   46.095455      46.088636  1.746028    201905

In [ ]:
#3. Pah de trabajo.
seteo carpeta de trabajo y archivo
dataset_path = '/home/ingceciliaconde/buckets/b1/datasets/03'
modelos_path = '/home/ingceciliaconde/buckets/b1/datasets/modelos'
db_path = '/home/ingceciliaconde/buckets/b1/datasets/db'
exp_path = '/home/ingceciliaconde/buckets/b1/exp'
dataset_file = 'competencia_03.csv.gz'

In [ ]:
# #path de trabajo local para pruebas
# #seteo carpeta de trabajo y archivo
# dataset_path = 'C:/Users/mconde/Documents/DMEYF/Competencia_01'
# dataset_file = 'competencia_01.csv'

In [6]:
#4. Lectura de datos.
df = pd.read_csv(f"{dataset_path}/{dataset_file}")

In [7]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,249667857,202101,1,0,0,79,68,2479.93,56664.62,3774.29,...,25.0,44238.07,-50488.61,0.0,1908.0,31985.48,12.0,0.0,2909.04,CONTINUA
1,249667857,202102,1,0,0,79,69,3213.23,54528.47,3498.16,...,18.0,77686.82,-44238.07,0.0,1936.0,61647.57,19.0,0.0,4692.00,CONTINUA
2,249667857,202103,1,0,0,79,70,6404.48,55195.70,4612.71,...,21.0,70519.14,-77686.82,0.0,1967.0,51918.80,14.0,0.0,4551.24,CONTINUA
3,249667857,202104,1,0,0,79,71,5430.67,55893.62,4673.99,...,23.0,47442.89,-70519.14,0.0,1997.0,26420.46,10.0,0.0,3143.64,CONTINUA
4,249667857,202105,1,0,0,79,72,3723.86,53480.16,4395.07,...,26.0,68765.04,-47442.89,0.0,2028.0,52738.36,11.0,0.0,4398.75,NaN

In [7]:
#cantida de registros segun clase ternara
df['clase_ternaria'].value_counts()

clase_ternaria
CONTINUA    645053
BAJA+1        4614
BAJA+2        3972
Name: count, dtype: int64

## D. Ajustes por inflación.

In [45]:
#Diferentes funciones y métodos para corregir el efecto de la inflación.
def drift_uva(dataset, campos_monetarios, tb_indices):
    print("inicio drift_UVA()")
    dataset = dataset.merge(tb_indices[['foto_mes', 'UVA']], on='foto_mes', how='left')
    for campo in campos_monetarios:
        dataset[campo] *= dataset['UVA']
    dataset.drop(columns=['UVA'], inplace=True)
    print("fin drift_UVA()")
    return dataset

def drift_deflacion(dataset, campos_monetarios, tb_indices):
    print("inicio drift_deflacion()")
    dataset = dataset.merge(tb_indices[['foto_mes', 'IPC']], on='foto_mes', how='left')
    for campo in campos_monetarios:
        dataset[campo] *= dataset['IPC']
    dataset.drop(columns=['IPC'], inplace=True)
    print("fin drift_deflacion()")
    return dataset

# Función para estandarizar datos
def drift_estandarizar(dataset, campos_drift):
    print("inicio drift_estandarizar()")
    for campo in campos_drift:
        dataset[campo + "_normal"] = dataset.groupby('foto_mes')[campo].transform(lambda x: (x - x.mean()) / x.std())
        dataset.drop(columns=[campo], inplace=True)
    print("fin drift_estandarizar()")
    return dataset

In [46]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [47]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [ ]:
# 6, 12meses de train y 6,12 de data drifting.
#dataset_out_6 = dataset_path +'/'+ 'competencia_01_preproceso_06.csv.gz'
#dataset_out_12 = dataset_path +'/'+'competencia_02_corregido_deflacion.csv.gz'
dataset_out_03 = dataset_path +'/'+'competencia_03_corregido_deflacion.csv.gz'

In [49]:
#1. Exportación con datadriftin y degacionpropiamente dicha.
data.to_csv(dataset_out_6,index=False)