Ensamble de modelos propios con el linea de muerte

In [16]:
#1. LibrerÃ­as.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
#path de trabajo local para pruebas
#seteo carpeta de trabajo y archivo
dataset_path = 'C:/Users/mconde/dmeyf2024/Competencia_03/Scrip_comunes/'
dataset_file =  'lineademuerte_10500_02.csv'
dataset_file2 = 'C2_CC_10_prepost_pandemia_fev1_ensamblepromedio4.csv'
#dataset_file3 = 'C3_CC_09_fev1_ensamblepromedio6.csv'
#dataset_file4 = 'C3_CC_pos_prepandemia_fev1_ensamblepromedio6.csv'
# dataset_file5 = 'lineademuerte_10500_03.csv'
# dataset_file6 = 'lineademuerte_10500_04.csv'
#dataset_file7= 'voting_semilla02_03_04_10500.csv'

In [18]:
print('Leyendo archivo:', dataset_path + dataset_file2)

Leyendo archivo: C:/Users/mconde/dmeyf2024/Competencia_03/Scrip_comunes/C2_CC_10_prepost_pandemia_fev1_ensamblepromedio4.csv

In [19]:
#4. Lectura de datos.
df_1 = pd.read_csv(f"{dataset_path}/{dataset_file}")
df_2 = pd.read_csv(f"{dataset_path}/{dataset_file2}")   
#df_3 = pd.read_csv(f"{dataset_path}/{dataset_file3}")   
# df_4 = pd.read_csv(f"{dataset_path}/{dataset_file4}")  
# df_5 = pd.read_csv(f"{dataset_path}/{dataset_file5}") 
# df_6 = pd.read_csv(f"{dataset_path}/{dataset_file6}")
#df_7 = pd.read_csv(f"{dataset_path}/{dataset_file7}")

In [20]:
print(df_1.shape)
# print(df_2.shape)
# print(df_3.shape)
# print(df_4.shape)
print(df_5.shape)
print(df_6.shape)

(165644, 2)

NameError: name 'df_5' is not defined

In [21]:
#ordenar por cliente
df_1 = df_1.sort_values(by=['numero_de_cliente'])
df_2 = df_2.sort_values(by=['numero_de_cliente'])
#df_3 = df_3.sort_values(by=['numero_de_cliente'])
# df_4 = df_4.sort_values(by=['numero_de_cliente'])
# df_5 = df_5.sort_values(by=['numero_de_cliente'])
# df_6 = df_6.sort_values(by=['numero_de_cliente'])
#df_7 = df_7.sort_values(by=['numero_de_cliente'])

In [22]:
#cambiar el Predict por Predict_1
df_1=df_1.rename(columns = {'Predicted':'Predict_1'})
df_2=df_2.rename(columns = {'Predicted':'Predict_2'})
#df_3=df_3.rename(columns = {'Predicted':'Predict_3'})
# df_4=df_4.rename(columns = {'Predicted':'Predict_4'})
# df_5=df_5.rename(columns = {'Predicted':'Predict_5'})
# df_6=df_6.rename(columns = {'Predicted':'Predict_6'})
#df_7=df_7.rename(columns = {'Predicted':'Predict_7'})

In [23]:
df_2.head(9)

        numero_de_cliente  Predict_2
78443           249221109          0
57066           249221468          0
121558          249223005          0
35814           249232117          0
138857          249236712          0
44749           249236857          0
161148          249237079          0
136564          249237446          0
51809           249239632          0

In [24]:
# Concatenar df_1, df_2, df_3, df_4 y df_5 por numero de cliente
df_merge = pd.merge(df_1, df_2, on='numero_de_cliente', how='inner')
#df_merge = pd.merge(df_merge, df_7, on='numero_de_cliente', how='inner')
# df_merge = pd.merge(df_merge, df_4, on='numero_de_cliente', how='inner')
# df_merge = pd.merge(df_merge, df_6, on='numero_de_cliente', how='inner')
# df_merge = pd.merge(df_merge, df_6, on='numero_de_cliente', how='inner')
df_merge.head()

   numero_de_cliente  Predict_1  Predict_2
0          249221109          0          0
1          249221468          0          0
2          249223005          0          0
3          249232117          0          0
4          249236712          0          0

In [27]:
#suma 1 si el valor de la columna es igual
df_merge['Predicted'] = (df_merge[['Predict_1', 'Predict_2']].sum(axis=1) >= 1).astype(int)
df_merge.head()

# df_merge['Predicted'] = df_merge[['Predict_1','Predict_2']].mode(axis=1)[0]
# df_merge.head()

   numero_de_cliente  Predict_1  Predict_2  pred_final  Predicted
0          249221109          0          0           0          0
1          249221468          0          0           0          0
2          249223005          0          0           0          0
3          249232117          0          0           0          0
4          249236712          0          0           0          0

In [28]:
#solo dejo las columans numero de cliente y predicted
df_final = df_merge[['numero_de_cliente','Predicted']]

In [30]:
df_final.head()

   numero_de_cliente  Predicted
0          249221109          0
1          249221468          0
2          249223005          0
3          249232117          0
4          249236712          0

In [31]:
#Predicted tiene que ser entero
df_final['Predicted'] = df_final['Predicted'].astype(int)

C:\Users\mconde\AppData\Local\Temp\ipykernel_26892\504072659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Predicted'] = df_final['Predicted'].astype(int)

In [32]:
df_final.head()

   numero_de_cliente  Predicted
0          249221109          0
1          249221468          0
2          249223005          0
3          249232117          0
4          249236712          0

In [33]:
df_final.to_csv(f"{dataset_path}/kaggle_03-v2.csv", index=False)