# Pre procesamiento de Datos 
Autoria a Ian Link

## A. Configuraciones generales.

In [11]:
#1. Librerías.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
#2. Constantes.
#semillas y valores de ganancia
semilla=[100183,200003,300017,700001,800011]
ganancia_acierto = 273000
costo_estimulo = 7000

#meses
mes_train_all = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
                 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
                 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
                 202101, 202102, 202103, 202104, 202105, 202106]

mes_train_6 = [202101, 202102, 202103, 202104, 202105, 202106]
mes_train_12 = [202006, 202007, 202008, 202009, 202010, 202011, 202012,
                 202101, 202102, 202103, 202104, 202105, 202106]
mes_test = 202108

In [13]:
#Valores financieros y meses. , gran laburo de IAN
#i. Listas.
vfoto_mes = [201901, 201902, 201903, 201904, 201905, 201906,
  201907, 201908, 201909, 201910, 201911, 201912,
  202001, 202002, 202003, 202004, 202005, 202006,
  202007, 202008, 202009, 202010, 202011, 202012,
  202101, 202102, 202103, 202104, 202105, 202106,
  202107, 202108, 202109]
vIPC = [1.9903030878, 1.9174403544, 1.8296186587,
  1.7728862972, 1.7212488323, 1.6776304408,
  1.6431248196, 1.5814483345, 1.4947526791,
  1.4484037589, 1.3913580777, 1.3404220402,
  1.3154288912, 1.2921698342, 1.2472681797,
  1.2300475145, 1.2118694724, 1.1881073259,
  1.1693969743, 1.1375456949, 1.1065619600,
  1.0681100000, 1.0370000000, 1.0000000000,
  0.9680542110, 0.9344152616, 0.8882274350,
  0.8532444140, 0.8251880213, 0.8003763543,
  0.7763107219, 0.7566381305, 0.7289384687]
vdolar_blue = [39.045455,  38.402500,  41.639474,
   44.274737,  46.095455,  45.063333,
   43.983333,  54.842857,  61.059524,
   65.545455,  66.750000,  72.368421,
   77.477273,  78.191667,  82.434211,
  101.087500, 126.236842, 125.857143,
  130.782609, 133.400000, 137.954545,
  170.619048, 160.400000, 153.052632,
  157.900000, 149.380952, 143.615385,
  146.250000, 153.550000, 162.000000,
  178.478261, 180.878788, 184.357143]
vdolar_oficial = [38.430000,  39.428000,  42.542105,
   44.354211,  46.088636,  44.955000,
   43.751429,  54.650476,  58.790000,
   61.403182,  63.012632,  63.011579,
   62.983636,  63.580556,  65.200000,
   67.872000,  70.047895,  72.520952,
   75.324286,  77.488500,  79.430909,
   83.134762,  85.484737,  88.181667,
   91.474000,  93.997778,  96.635909,
   98.526000,  99.613158, 100.619048,
  101.619048, 102.569048, 103.781818]
vUVA = [2.001408838932958,  1.950325472789153,  1.89323032351521,
  1.8247220405493787, 1.746027787673673,  1.6871348409529485,
  1.6361678865622313, 1.5927529755859773, 1.5549162794128493,
  1.4949100586391746, 1.4197729500774545, 1.3678188186372326,
  1.3136508617223726, 1.2690535173062818, 1.2381595983200178,
  1.211656735577568,  1.1770808941405335, 1.1570338657445522,
  1.1388769475653255, 1.1156993751209352, 1.093638313080772,
  1.0657171590878205, 1.0362173587708712, 1.0,
  0.9669867858358365, 0.9323750098728378, 0.8958202912590305,
  0.8631993702994263, 0.8253893405524657, 0.7928918905364516,
  0.7666323845128089, 0.7428976357662823, 0.721615762047849]

#ii. Lo junto en un dataframe.
tb_indices = pd.DataFrame({
    'IPC': vIPC,
    'dolar_blue': vdolar_blue,
    'dolar_oficial': vdolar_oficial,
    'UVA': vUVA,
    'foto_mes': vfoto_mes
})

In [14]:
tb_indices.head()

        IPC  dolar_blue  dolar_oficial       UVA  foto_mes
0  1.990303   39.045455      38.430000  2.001409    201901
1  1.917440   38.402500      39.428000  1.950325    201902
2  1.829619   41.639474      42.542105  1.893230    201903
3  1.772886   44.274737      44.354211  1.824722    201904
4  1.721249   46.095455      46.088636  1.746028    201905

In [6]:
#3. Pah de trabajo.
#seteo carpeta de trabajo y archivo
dataset_path = '/home/ingceciliaconde/buckets/b1/datasets'
modelos_path = '/home/ingceciliaconde/buckets/b1/datasets/modelos'
db_path = '/home/ingceciliaconde/buckets/b1/datasets/db'
exp_path = '/home/ingceciliaconde/buckets/b1/datasets/exp'
dataset_file_1 = 'competencia_02_fe_v1.csv.gz' #con deflacion
dataset_file_2 = 'competencia_02_fe_v2.csv.gz'#sin deflacion

In [ ]:
#path de trabajo local para pruebas
#seteo carpeta de trabajo y archivo
# dataset_path = 'C:/Users/mconde/Documents/DMEYF/Competencia_01'
# dataset_file = 'competencia_01.csv'

In [ ]:
#4. Lectura de datos.
# df_1= pd.read_csv(f"{dataset_path}/{dataset_file_1}") #con deflacion
# df_2= pd.read_csv(f"{dataset_path}/{dataset_file_2}") #sin deflacion
df = pd.read_csv(f"{dataset_path}/{dataset_file_1}") #pruebas locales

In [ ]:
print(df_1.shape)

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,249667857,202101,1,0,0,79,68,2479.93,56664.62,3774.29,...,25.0,44238.07,-50488.61,0.0,1908.0,31985.48,12.0,0.0,2909.04,CONTINUA
1,249667857,202102,1,0,0,79,69,3213.23,54528.47,3498.16,...,18.0,77686.82,-44238.07,0.0,1936.0,61647.57,19.0,0.0,4692.00,CONTINUA
2,249667857,202103,1,0,0,79,70,6404.48,55195.70,4612.71,...,21.0,70519.14,-77686.82,0.0,1967.0,51918.80,14.0,0.0,4551.24,CONTINUA
3,249667857,202104,1,0,0,79,71,5430.67,55893.62,4673.99,...,23.0,47442.89,-70519.14,0.0,1997.0,26420.46,10.0,0.0,3143.64,CONTINUA
4,249667857,202105,1,0,0,79,72,3723.86,53480.16,4395.07,...,26.0,68765.04,-47442.89,0.0,2028.0,52738.36,11.0,0.0,4398.75,NaN

In [17]:
#cantida de registros segun clase ternara
df['clase_ternaria'].value_counts()

clase_ternaria
CONTINUA    645053
BAJA+1        4614
BAJA+2        3972
Name: count, dtype: int64

EDA

In [9]:
data= df.copy()
data.shape

(981946, 155)

In [ ]:
#definir train
mes_train=mes_train_30 # cambiar a 12 para entrenar con 12 meses o con all para entrenar con todos los meses

In [ ]:
#a. Evaluamos en train y test
train_data = data[data['foto_mes'].isin(mes_train)] #train_data = data[data['foto_mes']= 202104]
score_data = data[data['foto_mes'] == mes_test]

In [ ]:
X_train = train_data
X_test = score_data

In [ ]:
# #Cantidad de movimientos voluntarios en las cuentas bancarias ( no tarjeta de credito ) que el cliente realizó en los ultimos 90 dias.
# plt.figure(figsize=(10, 6))
# sns.kdeplot(data=df_1[df_04['clase_ternaria'] == 'BAJA+1'], x='ctrx_quarter', fill=True, color='orange' )
# sns.kdeplot(data=df_2[df_04['clase_ternaria'] == 'BAJA+2'], x='ctrx_quarter', fill=True, color='green')
# #sns.kdeplot(data=df_04[df_04['clase_ternaria'] == 'CONTINUA'], x='ctrx_quarter', fill=True, color='blue')

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ks_2samp
from evidently import ColumnMapping
from evidently.report import Report
from evidently.metric_preset import DataDriftPreset

# Supongamos que ya tienes X_train y X_test cargados como DataFrames
# X_train: Dataset de entrenamiento (referencia)
# X_test: Dataset de prueba (actual)

# 1. Verificar Calidad de Datos
def check_data_quality(df, dataset_name="Dataset"):
    print(f"\n--- Verificando calidad de datos para {dataset_name} ---")
    
    # Resumen general
    print(df.info())
    
    # Valores nulos
    nulls = df.isnull().sum()
    print("\nValores nulos por columna:")
    print(nulls[nulls > 0])
    
    # Duplicados
    duplicates = df.duplicated().sum()
    print(f"\nRegistros duplicados: {duplicates}")
    
    # Outliers (usando rango intercuartil - IQR)
    def detect_outliers(column):
        if np.issubdtype(column.dtype, np.number):
            Q1 = column.quantile(0.25)
            Q3 = column.quantile(0.75)
            IQR = Q3 - Q1
            return ((column < (Q1 - 1.5 * IQR)) | (column > (Q3 + 1.5 * IQR))).sum()
        return 0
    
    outliers = {col: detect_outliers(df[col]) for col in df.columns}
    print("\nOutliers detectados por columna:")
    print({k: v for k, v in outliers.items() if v > 0})
    
    # Valores categóricos únicos
    for col in df.select_dtypes(include="object").columns:
        print(f"\nValores únicos en '{col}':")
        print(df[col].value_counts())

# 2. Verificar Data Drifting
def check_data_drift(current_data, reference_data):
    print("\n--- Verificando Data Drift ---")
    
    # Evidently Report para Data Drift
    column_mapping = ColumnMapping()
    drift_report = Report(metrics=[DataDriftPreset()])
    drift_report.run(reference_data=reference_data, current_data=current_data)
    
    # Guardar el reporte como HTML
    drift_report.save_html("data_drift_report.html")
    print("Reporte de Data Drift generado: 'data_drift_report.html'")
    
    # KS Test para variables numéricas
    drift_results = {}
    for col in reference_data.select_dtypes(include=[np.number]).columns:
        ks_stat, p_value = ks_2samp(reference_data[col].dropna(), current_data[col].dropna())
        drift_results[col] = {"KS_Stat": ks_stat, "P_Value": p_value}
    
    # Variables con drift significativo
    significant_drift = {k: v for k, v in drift_results.items() if v["P_Value"] < 0.05}
    print("\nDrift significativo encontrado en las siguientes columnas:")
    print(significant_drift)

# Llamadas a las funciones
check_data_quality(X_train, "X_train (Referencia)")
check_data_quality(X_test, "X_test (Actual)")

check_data_drift(X_test, X_train)

## B. Data Quality.

#### 1. Valores nulos.

In [11]:
#evaluamos valores nulos
train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,33.434323,100.000000,66.565677
Master_mpagospesos,59.707968,58.459691,1.248277
Master_mconsumototal,59.707968,58.459691,1.248277
Master_cconsumos,59.707968,58.459691,1.248277
Master_cadelantosefectivo,59.707968,58.459691,1.248277
...,...,...,...
mpayroll,0.000000,0.000000,0.000000
mpayroll2,0.000000,0.000000,0.000000
cpayroll2_trx,0.000000,0.000000,0.000000
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mforex_buy,0.000000,0.000000,0.000000

In [14]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de nullos en el mes test.
col_eliminar_nulls = list(comparison_df_sorted[(comparison_df_sorted["diff"] > 5)].index)

print(col_eliminar_nulls)

['clase_ternaria']

#### 2. Valores 0.

In [15]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)
diff_zero_percentage_sorted

,Train Zero Percentage,Score Zero Percentage,diff_zero_percentage
Master_fultimo_cierre,11.567439,68.891773,57.324335
Visa_fultimo_cierre,11.557051,68.829909,57.272858
Visa_mpagado,80.493632,85.356268,4.862636
cmobile_app_trx,28.251859,23.683859,4.568000
ctransferencias_recibidas,27.046090,24.303719,2.742371
...,...,...,...
tcuentas,0.000000,0.000000,0.000000
cproductos,0.000000,0.000000,0.000000
cliente_antiguedad,0.000000,0.000000,0.000000
cliente_edad,0.000000,0.000000,0.000000
clase_ternaria,0.000000,0.000000,0.000000

In [ ]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar_0 = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5)&(diff_zero_percentage_sorted["Score Zero Percentage"]>diff_zero_percentage_sorted["Train Zero Percentage"])].index)

print(cols_eliminar_0)

['Master_fultimo_cierre', 'Visa_fultimo_cierre']

#### 3. Valores <0.

In [17]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Master_Finiciomora,0.002444,0.000000,0.002444
mactivos_margen,0.001731,0.003033,0.001301
Visa_mpagospesos,0.000204,0.001213,0.001009
Master_msaldototal,0.004379,0.003639,0.000740
Master_msaldopesos,0.004277,0.003639,0.000638
...,...,...,...
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mcuenta_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
clase_ternaria,0.000000,0.000000,0.000000

In [18]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de valores negativos  en el mes test.
cols_eliminar_menos0 = list(diff_negative_percentage_sorted[(diff_negative_percentage_sorted["diff_negative_percentage"] > 5)&(diff_negative_percentage_sorted["Score Negative Percentage"]>diff_negative_percentage_sorted["Train Negative Percentage"])].index) 
print(cols_eliminar_menos0)

[]

#### 4. Valores duplicados.

In [19]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [21]:
#i. PSI.
def psi(expected, actual, buckets=10):

    def psi_formula(expected_prop, actual_prop):
        result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
        return result

    expected_not_null = expected.dropna()
    actual_not_null = actual.dropna()

    bin_edges = pd.qcut(expected_not_null, q=buckets, duplicates='drop').unique()
    bin_edges2 = [edge.left for edge in bin_edges] + [edge.right for edge in bin_edges]
    breakpoints = sorted(list(set(bin_edges2)))

    expected_counts, _ = np.histogram(expected_not_null, bins=breakpoints)
    actual_counts, _ = np.histogram(actual_not_null, bins=breakpoints)

    expected_prop = expected_counts / len(expected_not_null)
    actual_prop = actual_counts / len(actual_not_null)

    psi_not_null = psi_formula(expected_prop, actual_prop).sum()

    psi_null = 0

    if expected.isnull().sum() > 0 and actual.isnull().sum() > 0 :
      expected_null_percentage = expected.isnull().mean()
      actual_null_percentage = actual.isnull().mean()
      psi_null = psi_formula(expected_null_percentage, actual_null_percentage)

    return psi_not_null + psi_null

In [22]:
# Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
  if column not in ['foto_mes','numero_de_cliente','clase_ternaria']:
    train_variable = train_data[column]
    score_variable = score_data[column]
    psi_value = psi(train_variable, score_variable)
    psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

C:\Users\mconde\AppData\Local\Temp\ipykernel_19868\1789767016.py:5: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
C:\Users\mconde\AppData\Local\Temp\ipykernel_19868\1789767016.py:5: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
C:\Users\mconde\AppData\Local\Temp\ipykernel_19868\1789767016.py:5: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
C:\Users\mconde\AppData\Local\Temp\ipykernel_19868\1789767016.py:5: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [23]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]["feature"]

134         Visa_Finiciomora
143      Visa_fultimo_cierre
121    Master_fultimo_cierre
112       Master_Finiciomora
50                  mpayroll
49              cpayroll_trx
Name: feature, dtype: object

In [24]:
#3. Elimino las columnas con un PSI alto.
cols_eliminar_psi = list(psi_df[psi_df["psi"] > 0.1]["feature"])

print(cols_eliminar_psi)

['Visa_Finiciomora', 'Visa_fultimo_cierre', 'Master_fultimo_cierre', 'Master_Finiciomora', 'mpayroll', 'cpayroll_trx']

In [ ]:
#columnas posibles a eliminar
print(col_eliminar_nulls)
print(cols_eliminar_0)
print(cols_eliminar_menos0)
print(cols_eliminar_psi)

In [ ]:
#Graficar las variabes que me sugiere eliminar
#sns.pairplot(train_data, vars=col_eliminar_nulls)

In [ ]:
#mergeo las columnas a eliminar
cols_eliminar = list(set(col_eliminar_nulls + cols_eliminar_0 + cols_eliminar_menos0 + cols_eliminar_psi))

In [ ]:
#eliminar columnas
data.drop(columns=col_eliminar_nulls+cols_eliminar_0+cols_eliminar_menos0+cols_eliminar_psi, inplace=True)

In [ ]:
#eliminar columnas de psi
data.drop(cols_eliminar_psi,axis=1,inplace=True)
train_data.drop(cols_eliminar_psi,axis=1,inplace=True)
score_data.drop(cols_eliminar_psi,axis=1,inplace=True)

C:\Users\mconde\AppData\Local\Temp\ipykernel_1316\2002624499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar_psi,axis=1,inplace=True)

## E. Exportación.

In [ ]:
# 6, 12meses de train y 6,12 de data drifting.
dataset_out_30 = dataset_path +'/'+ 'competencia_02_fe_v1_QA.csv.gz'
#dataset_out_12 = dataset_path +'/'+'competencia_02_preproceso_12.csv.gz'

In [ ]:
print(f"Guardando en {dataset_output_30}")

Guardando en C:/Users/mconde/Documents/DMEYF/Competencia_01/competencia_01_preproceso_06_sin_deflacion.csv

In [ ]:
#1. Exportación con datadriftin y degacionpropiamente dicha.
data.to_csv(dataset_out_30,index=False)