# Pre procesamiento de Datos 
Autoria a Ian Link

## A. Configuraciones generales.

In [48]:
#1. Librer√≠as.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [49]:
# #3. Pah de trabajo.
# #seteo carpeta de trabajo y archivo
# dataset_path = '/home/ingceciliaconde/buckets/b1/datasets/03'
# modelos_path = '/home/ingceciliaconde/buckets/b1/datasets/modelos'
# db_path = '/home/ingceciliaconde/buckets/b1/datasets/db'
# exp_path = '/home/ingceciliaconde/buckets/b1/exp'
# dataset_file = 'competencia_03.csv.gz'

In [101]:
#path de trabajo local para pruebas
#seteo carpeta de trabajo y archivo
dataset_path = 'C:/Users/mconde/dmeyf2024/Competencia_03/Scrip_comunes/'
dataset_file =  'lineademuerte_10500_02.csv'
dataset_file2 = 'C2_CC_10_prepost_pandemia_fev1_ensamblepromedio4.csv'
dataset_file3 = 'C3_CC_09_fev1_ensamblepromedio6.csv'
dataset_file4 = 'C3_CC_pos_prepandemia_fev1_ensamblepromedio6.csv'
dataset_file5 = 'lineademuerte_10500_03.csv'
dataset_file6 = 'lineademuerte_10500_04.csv'

In [67]:
print('Leyendo archivo:', dataset_path + dataset_file2)

Leyendo archivo: C:/Users/mconde/dmeyf2024/Competencia_03/Scrip_comunes/C2_CC_10_prepost_pandemia_fev1_ensamblepromedio4.csv

In [102]:
#4. Lectura de datos.
df_1 = pd.read_csv(f"{dataset_path}/{dataset_file}")
df_2 = pd.read_csv(f"{dataset_path}/{dataset_file2}")   
df_3 = pd.read_csv(f"{dataset_path}/{dataset_file3}")   
df_4 = pd.read_csv(f"{dataset_path}/{dataset_file4}")  
df_5 = pd.read_csv(f"{dataset_path}/{dataset_file5}") 
df_6 = pd.read_csv(f"{dataset_path}/{dataset_file6}")

In [103]:
print(df_1.shape)
print(df_2.shape)
print(df_3.shape)
print(df_4.shape)
print(df_5.shape)
print(df_6.shape)

(165644, 2)
(165644, 2)
(165644, 2)
(165644, 2)
(165644, 2)
(165644, 2)

In [104]:
#ordenar por cliente
df_1 = df_1.sort_values(by=['numero_de_cliente'])
df_2 = df_2.sort_values(by=['numero_de_cliente'])
df_3 = df_3.sort_values(by=['numero_de_cliente'])
df_4 = df_4.sort_values(by=['numero_de_cliente'])
df_5 = df_5.sort_values(by=['numero_de_cliente'])
df_6 = df_6.sort_values(by=['numero_de_cliente'])

In [105]:
#cambiar el Predict por Predict_1
df_1=df_1.rename(columns = {'Predicted':'Predict_1'})
df_2=df_2.rename(columns = {'Predicted':'Predict_2'})
df_3=df_3.rename(columns = {'Predicted':'Predict_3'})
df_4=df_4.rename(columns = {'Predicted':'Predict_4'})
df_5=df_5.rename(columns = {'Predicted':'Predict_5'})
df_6=df_6.rename(columns = {'Predicted':'Predict_6'})

In [106]:
df_1.head(9)

        numero_de_cliente  Predict_1
76523           249221109          0
60732           249221468          0
149534          249223005          0
95500           249232117          0
141893          249236712          0
40230           249236857          0
149904          249237079          0
146968          249237446          0
91788           249239632          0

In [107]:
# Concatenar df_1, df_2, df_3, df_4 y df_5 por numero de cliente
df_merge = pd.merge(df_1, df_2, on='numero_de_cliente', how='inner')
df_merge = pd.merge(df_merge, df_3, on='numero_de_cliente', how='inner')
df_merge = pd.merge(df_merge, df_4, on='numero_de_cliente', how='inner')
df_merge = pd.merge(df_merge, df_5, on='numero_de_cliente', how='inner')
df_merge = pd.merge(df_merge, df_6, on='numero_de_cliente', how='inner')
df_merge.head()

,numero_de_cliente,Predict_1,Predict_2,Predict_3,Predict_4,Predict_5,Predict_6
0,249221109,0,0,0,0,0,0
1,249221468,0,0,0,0,0,0
2,249223005,0,0,0,0,0,0
3,249232117,0,0,0,0,0,0
4,249236712,0,0,0,0,0,0

In [108]:
#mayoritario
df_merge['Predicted'] = df_merge[['Predict_1','Predict_2','Predict_3','Predict_4','Predict_5','Predict_6']].mode(axis=1)[0]
df_merge.head()

,numero_de_cliente,Predict_1,Predict_2,Predict_3,Predict_4,Predict_5,Predict_6,Predicted
0,249221109,0,0,0,0,0,0,0.0
1,249221468,0,0,0,0,0,0,0.0
2,249223005,0,0,0,0,0,0,0.0
3,249232117,0,0,0,0,0,0,0.0
4,249236712,0,0,0,0,0,0,0.0

In [109]:
#solo dejo las columans numero de cliente y predicted
df_final = df_merge[['numero_de_cliente','Predicted']]

In [110]:
df_final.head()

   numero_de_cliente  Predicted
0          249221109        0.0
1          249221468        0.0
2          249223005        0.0
3          249232117        0.0
4          249236712        0.0

In [111]:
df_final.to_csv(f"{dataset_path}/voting_semilla02_03_04_propios_10500.csv", index=False)