# Pre procesamiento de Datos 
Autoria a Ian Link

## A. Configuraciones generales.

In [3]:
#1. Librer√≠as.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# #3. Pah de trabajo.
# #seteo carpeta de trabajo y archivo
# dataset_path = '/home/ingceciliaconde/buckets/b1/datasets/03'
# modelos_path = '/home/ingceciliaconde/buckets/b1/datasets/modelos'
# db_path = '/home/ingceciliaconde/buckets/b1/datasets/db'
# exp_path = '/home/ingceciliaconde/buckets/b1/exp'
# dataset_file = 'competencia_03.csv.gz'

In [17]:
#path de trabajo local para pruebas
#seteo carpeta de trabajo y archivo
dataset_path = 'C:/Users/mconde/dmeyf2024/Competencia_03/Scrip_comunes/'
# dataset_file =  'lineademuerte_10500_02.csv'
dataset_file2 = 'lineademuerte_10500_03.csv'
dataset_file3 = 'lineademuerte_10500_04.csv'
dataset_file4 = 'lineademuerte_10500_07.csv'
dataset_file5 = 'lineademuerte_10500_08.csv'

In [4]:
print('Leyendo archivo:', dataset_path + dataset_file2)

Leyendo archivo: C:/Users/mconde/dmeyf2024/Competencia_03/Scrip_comunes/C2_CC_10_prepost_pandemia_fev1_ensamblepromedio4.csv

In [18]:
#4. Lectura de datos.
# df_1 = pd.read_csv(f"{dataset_path}/{dataset_file}")
df_2 = pd.read_csv(f"{dataset_path}/{dataset_file2}")   
df_3 = pd.read_csv(f"{dataset_path}/{dataset_file3}")   
df_4 = pd.read_csv(f"{dataset_path}/{dataset_file4}")  
df_5 = pd.read_csv(f"{dataset_path}/{dataset_file5}")

In [20]:
print(df_1.shape)
# print(df_2.shape)
# print(df_3.shape)
# print(df_4.shape)
print(df_5.shape)
print(df_6.shape)

(165644, 2)
(165644, 2)
(165644, 2)

In [19]:
#ordenar por cliente
# df_1 = df_1.sort_values(by=['numero_de_cliente'])
df_2 = df_2.sort_values(by=['numero_de_cliente'])
df_3 = df_3.sort_values(by=['numero_de_cliente'])
df_4 = df_4.sort_values(by=['numero_de_cliente'])
df_5 = df_5.sort_values(by=['numero_de_cliente'])

In [20]:
#cambiar el Predict por Predict_1
# df_1=df_1.rename(columns = {'Predicted':'Predict_1'})
df_2=df_2.rename(columns = {'Predicted':'Predict_2'})
df_3=df_3.rename(columns = {'Predicted':'Predict_3'})
df_4=df_4.rename(columns = {'Predicted':'Predict_4'})
df_5=df_5.rename(columns = {'Predicted':'Predict_5'})

In [7]:
df_2.head(9)

        numero_de_cliente  Predict_2
58492           249221109          0
80860           249221468          0
155593          249223005          0
116834          249232117          0
142449          249236712          0
56130           249236857          0
138548          249237079          0
160817          249237446          0
65660           249239632          0

In [21]:
# Concatenar df_1, df_2, df_3, df_4 y df_5 por numero de cliente
df_merge = pd.merge(df_2, df_3, on='numero_de_cliente', how='inner')
df_merge = pd.merge(df_merge, df_4, on='numero_de_cliente', how='inner')
df_merge = pd.merge(df_merge, df_5, on='numero_de_cliente', how='inner')
# df_merge = pd.merge(df_merge, df_5, on='numero_de_cliente', how='inner')
df_merge.head()

   numero_de_cliente  Predict_2  Predict_3  Predict_4  Predict_5
0          249221109          0          0          0          0
1          249221468          0          0          0          0
2          249223005          0          0          0          0
3          249232117          0          0          0          0
4          249236712          0          0          0          0

In [23]:
#mayoritario
df_merge['Predicted'] = df_merge[['Predict_2','Predict_3','Predict_4','Predict_5']].mode(axis=1)[0]
df_merge.head()
# df_merge['Predicted'] = df_merge[['Predict_2','Predict_3','Predict_7']].mode(axis=1)[0]
# df_merge.head()

   numero_de_cliente  Predict_2  Predict_3  Predict_4  Predict_5  Predicted
0          249221109          0          0          0          0        0.0
1          249221468          0          0          0          0        0.0
2          249223005          0          0          0          0        0.0
3          249232117          0          0          0          0        0.0
4          249236712          0          0          0          0        0.0

In [24]:
#solo dejo las columans numero de cliente y predicted
df_final = df_merge[['numero_de_cliente','Predicted']]

In [25]:
df_final.head()

   numero_de_cliente  Predicted
0          249221109        0.0
1          249221468        0.0
2          249223005        0.0
3          249232117        0.0
4          249236712        0.0

In [26]:
#Predicted tiene que ser entero
df_final['Predicted'] = df_final['Predicted'].astype(int)

C:\Users\mconde\AppData\Local\Temp\ipykernel_27716\504072659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Predicted'] = df_final['Predicted'].astype(int)

In [27]:
df_final.head()

   numero_de_cliente  Predicted
0          249221109          0
1          249221468          0
2          249223005          0
3          249232117          0
4          249236712          0

In [28]:
df_final.to_csv(f"{dataset_path}/casi_todos_10500_sin02.csv", index=False)