# Pre procesamiento de Datos 
Autoria a Ian Link

## A. Configuraciones generales.

In [1]:
#1. Librerías.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
#2. Constantes.
#semillas y valores de ganancia
semilla=[100183,200003,300017,700001,800011]
ganancia_acierto = 273000
costo_estimulo = 7000

#meses
mes_train_all = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
                 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004,
                 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012,
                 202101, 202102, 202103, 202104, 202105, 202106]

mes_train_6 = [202101, 202102, 202103, 202104, 202105, 202106]
mes_train_12 = [202006, 202007, 202008, 202009, 202010, 202011, 202012,
                 202101, 202102, 202103, 202104, 202105, 202106]
mes_test = 202108

In [4]:
#Valores financieros y meses. , gran laburo de IAN
#i. Listas.
vfoto_mes = [201901, 201902, 201903, 201904, 201905, 201906,
  201907, 201908, 201909, 201910, 201911, 201912,
  202001, 202002, 202003, 202004, 202005, 202006,
  202007, 202008, 202009, 202010, 202011, 202012,
  202101, 202102, 202103, 202104, 202105, 202106,
  202107, 202108, 202109]
vIPC = [1.9903030878, 1.9174403544, 1.8296186587,
  1.7728862972, 1.7212488323, 1.6776304408,
  1.6431248196, 1.5814483345, 1.4947526791,
  1.4484037589, 1.3913580777, 1.3404220402,
  1.3154288912, 1.2921698342, 1.2472681797,
  1.2300475145, 1.2118694724, 1.1881073259,
  1.1693969743, 1.1375456949, 1.1065619600,
  1.0681100000, 1.0370000000, 1.0000000000,
  0.9680542110, 0.9344152616, 0.8882274350,
  0.8532444140, 0.8251880213, 0.8003763543,
  0.7763107219, 0.7566381305, 0.7289384687]
vdolar_blue = [39.045455,  38.402500,  41.639474,
   44.274737,  46.095455,  45.063333,
   43.983333,  54.842857,  61.059524,
   65.545455,  66.750000,  72.368421,
   77.477273,  78.191667,  82.434211,
  101.087500, 126.236842, 125.857143,
  130.782609, 133.400000, 137.954545,
  170.619048, 160.400000, 153.052632,
  157.900000, 149.380952, 143.615385,
  146.250000, 153.550000, 162.000000,
  178.478261, 180.878788, 184.357143]
vdolar_oficial = [38.430000,  39.428000,  42.542105,
   44.354211,  46.088636,  44.955000,
   43.751429,  54.650476,  58.790000,
   61.403182,  63.012632,  63.011579,
   62.983636,  63.580556,  65.200000,
   67.872000,  70.047895,  72.520952,
   75.324286,  77.488500,  79.430909,
   83.134762,  85.484737,  88.181667,
   91.474000,  93.997778,  96.635909,
   98.526000,  99.613158, 100.619048,
  101.619048, 102.569048, 103.781818]
vUVA = [2.001408838932958,  1.950325472789153,  1.89323032351521,
  1.8247220405493787, 1.746027787673673,  1.6871348409529485,
  1.6361678865622313, 1.5927529755859773, 1.5549162794128493,
  1.4949100586391746, 1.4197729500774545, 1.3678188186372326,
  1.3136508617223726, 1.2690535173062818, 1.2381595983200178,
  1.211656735577568,  1.1770808941405335, 1.1570338657445522,
  1.1388769475653255, 1.1156993751209352, 1.093638313080772,
  1.0657171590878205, 1.0362173587708712, 1.0,
  0.9669867858358365, 0.9323750098728378, 0.8958202912590305,
  0.8631993702994263, 0.8253893405524657, 0.7928918905364516,
  0.7666323845128089, 0.7428976357662823, 0.721615762047849]

#ii. Lo junto en un dataframe.
tb_indices = pd.DataFrame({
    'IPC': vIPC,
    'dolar_blue': vdolar_blue,
    'dolar_oficial': vdolar_oficial,
    'UVA': vUVA,
    'foto_mes': vfoto_mes
})

In [5]:
tb_indices.head()

        IPC  dolar_blue  dolar_oficial       UVA  foto_mes
0  1.990303   39.045455      38.430000  2.001409    201901
1  1.917440   38.402500      39.428000  1.950325    201902
2  1.829619   41.639474      42.542105  1.893230    201903
3  1.772886   44.274737      44.354211  1.824722    201904
4  1.721249   46.095455      46.088636  1.746028    201905

In [7]:
#3. Pah de trabajo.
#seteo carpeta de trabajo y archivo
# dataset_path = '/home/ingceciliaconde/buckets/b1/datasets'
# modelos_path = '/home/ingceciliaconde/buckets/b1/datasets/modelos'
# db_path = '/home/ingceciliaconde/buckets/b1/datasets/db'
# exp_path =| '/home/ingceciliaconde/buckets/b1/datasets/exp'
# dataset_file = 'competencia_02.csv.gz

In [8]:
#path de trabajo local para pruebas
#seteo carpeta de trabajo y archivo
dataset_path = 'C:/Users/mconde/Documents/DMEYF/Competencia_01'
dataset_file = 'competencia_01.csv'

In [9]:
#4. Lectura de datos.
df = pd.read_csv(f"{dataset_path}/{dataset_file}")

In [10]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,249667857,202101,1,0,0,79,68,2479.93,56664.62,3774.29,...,25.0,44238.07,-50488.61,0.0,1908.0,31985.48,12.0,0.0,2909.04,CONTINUA
1,249667857,202102,1,0,0,79,69,3213.23,54528.47,3498.16,...,18.0,77686.82,-44238.07,0.0,1936.0,61647.57,19.0,0.0,4692.00,CONTINUA
2,249667857,202103,1,0,0,79,70,6404.48,55195.70,4612.71,...,21.0,70519.14,-77686.82,0.0,1967.0,51918.80,14.0,0.0,4551.24,CONTINUA
3,249667857,202104,1,0,0,79,71,5430.67,55893.62,4673.99,...,23.0,47442.89,-70519.14,0.0,1997.0,26420.46,10.0,0.0,3143.64,CONTINUA
4,249667857,202105,1,0,0,79,72,3723.86,53480.16,4395.07,...,26.0,68765.04,-47442.89,0.0,2028.0,52738.36,11.0,0.0,4398.75,NaN

In [11]:
#cantida de registros segun clase ternara
df['clase_ternaria'].value_counts()

clase_ternaria
CONTINUA    645053
BAJA+1        4614
BAJA+2        3972
Name: count, dtype: int64

In [19]:
#cantidad de registros segun clase binaria y año
df.groupby(['clase_ternaria', 'foto_mes']).size()

clase_ternaria  foto_mes
BAJA+1          202101         635
                202102         785
                202103        1020
                202104         982
                202105        1192
BAJA+2          202101         785
                202102        1017
                202103         981
                202104        1189
CONTINUA        202101      160606
                202102      160844
                202103      161684
                202104      161919
dtype: int64

ESto lo dejo por si necesito ver algo mas chicos

In [12]:
#seleccion de abril
df_04= df[df['foto_mes'] == 202104]
#cantida de registros segun clase ternara
df_04['clase_ternaria'].value_counts()

clase_ternaria
CONTINUA    161919
BAJA+2        1189
BAJA+1         982
Name: count, dtype: int64

In [18]:
df_04.shape

(164090, 155)

In [19]:
#quiero que me muestre los baja en el mes 202104
df_04_baja = df_04[df_04['clase_ternaria'].isin(['BAJA+2', 'BAJA+1'])]
#quiero los continua
df_04_CONTINUA=df_04[df_04['clase_ternaria'] == 'CONTINUA']
print(df_04_CONTINUA.shape)
print(df_04_baja.shape)

(161919, 155)
(2171, 155)

In [22]:
 # Obtener una muestra aleatoria de 100 filas
muestra = df_04_CONTINUA.sample(n=2000)
muestra.shape

(2000, 155)

In [21]:
join_df = pd.concat([df_04_baja, muestra])
join_df.shape

(4171, 155)

## B. Data Quality.

#### 1. Valores nulos.

In [16]:
#definir train
mes_train=mes_train_6 # cambiar a 12 para entrenar con 12 meses o con all para entrenar con todos los meses

In [17]:
data= df.copy()
data.shape

(981946, 155)

In [18]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

                         Train Null Percentage  Score Null Percentage  diff
numero_de_cliente                     0.000000                    NaN   NaN
foto_mes                              0.000000                    NaN   NaN
active_quarter                        0.000000                    NaN   NaN
cliente_vip                           0.000000                    NaN   NaN
internet                              0.000000                    NaN   NaN
...                                        ...                    ...   ...
Visa_mconsumototal                   13.604923                    NaN   NaN
Visa_cconsumos                       13.604923                    NaN   NaN
Visa_cadelantosefectivo              13.604923                    NaN   NaN
Visa_mpagominimo                      4.973593                    NaN   NaN
clase_ternaria                       33.434323                    NaN   NaN

[155 rows x 3 columns]

#### 2. Valores 0.

In [33]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

In [35]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5)&(diff_zero_percentage_sorted["Score Zero Percentage"]>diff_zero_percentage_sorted["Train Zero Percentage"])].index)
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

C:\Users\mconde\AppData\Local\Temp\ipykernel_19556\743180382.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

In [36]:
print(cols_eliminar)

['Master_fultimo_cierre', 'Visa_fultimo_cierre']

#### 3. Valores <0.

In [37]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Master_Finiciomora,0.002444,0.000000,0.002444
mactivos_margen,0.001731,0.003033,0.001301
Visa_mpagospesos,0.000204,0.001213,0.001009
Master_msaldototal,0.004379,0.003639,0.000740
Master_msaldopesos,0.004277,0.003639,0.000638
...,...,...,...
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mcuenta_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
clase_ternaria,0.000000,0.000000,0.000000

#### 4. Valores duplicados.

In [38]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [39]:
#i. PSI.
def psi(expected, actual, buckets=10):

    def psi_formula(expected_prop, actual_prop):
        result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
        return result

    expected_not_null = expected.dropna()
    actual_not_null = actual.dropna()

    bin_edges = pd.qcut(expected_not_null, q=buckets, duplicates='drop').unique()
    bin_edges2 = [edge.left for edge in bin_edges] + [edge.right for edge in bin_edges]
    breakpoints = sorted(list(set(bin_edges2)))

    expected_counts, _ = np.histogram(expected_not_null, bins=breakpoints)
    actual_counts, _ = np.histogram(actual_not_null, bins=breakpoints)

    expected_prop = expected_counts / len(expected_not_null)
    actual_prop = actual_counts / len(actual_not_null)

    psi_not_null = psi_formula(expected_prop, actual_prop).sum()

    psi_null = 0

    if expected.isnull().sum() > 0 and actual.isnull().sum() > 0 :
      expected_null_percentage = expected.isnull().mean()
      actual_null_percentage = actual.isnull().mean()
      psi_null = psi_formula(expected_null_percentage, actual_null_percentage)

    return psi_not_null + psi_null

In [40]:
# Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
  if column not in ['foto_mes','numero_de_cliente','clase_ternaria']:
    train_variable = train_data[column]
    score_variable = score_data[column]
    psi_value = psi(train_variable, score_variable)
    psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

C:\Users\mconde\AppData\Local\Temp\ipykernel_19556\1789767016.py:5: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
C:\Users\mconde\AppData\Local\Temp\ipykernel_19556\1789767016.py:5: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [ ]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]["feature"]

                 feature       psi
111   Master_Finiciomora       inf
132     Visa_Finiciomora  0.622660
110  Master_Fvencimiento  0.130568

In [ ]:
#3. Elimino las columnas con un PSI alto.
cols_eliminar = list(psi_df[psi_df["psi"] > 0.1]["feature"])
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_2547/1238236985.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_2547/1238236985.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

## D. Ajustes por inflación.

In [ ]:
#Diferentes funciones y métodos para corregir el efecto de la inflación.
def drift_uva(dataset, campos_monetarios, tb_indices):
    print("inicio drift_UVA()")
    dataset = dataset.merge(tb_indices[['foto_mes', 'UVA']], on='foto_mes', how='left')
    for campo in campos_monetarios:
        dataset[campo] *= dataset['UVA']
    dataset.drop(columns=['UVA'], inplace=True)
    print("fin drift_UVA()")
    return dataset

def drift_deflacion(dataset, campos_monetarios, tb_indices):
    print("inicio drift_deflacion()")
    dataset = dataset.merge(tb_indices[['foto_mes', 'IPC']], on='foto_mes', how='left')
    for campo in campos_monetarios:
        dataset[campo] *= dataset['IPC']
    dataset.drop(columns=['IPC'], inplace=True)
    print("fin drift_deflacion()")
    return dataset

# Función para estandarizar datos
def drift_estandarizar(dataset, campos_drift):
    print("inicio drift_estandarizar()")
    for campo in campos_drift:
        dataset[campo + "_normal"] = dataset.groupby('foto_mes')[campo].transform(lambda x: (x - x.mean()) / x.std())
        dataset.drop(columns=[campo], inplace=True)
    print("fin drift_estandarizar()")
    return dataset

In [ ]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [ ]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [ ]:
#1. Exportación propiamente dicha.
data.to_csv(dataset_output,index=False)