# Feature Engineering en SQL

A continuación, veremos cómo calcular diferentes variables para el feature engineering utilizando SQL.

**DuckDB**: Es un sistema de base de datos SQL rápido y embebible, que se puede utilizar con grandes conjuntos de datos directamente en memoria.
**JupySQL:** Una extensión que permite ejecutar comandos SQL dentro de los cuadernos de Jupyter, facilitando la ejecución de consultas SQL.
**DuckDB-engine:** Un paquete de Python que permite conectar una instancia de DuckDB a través de SQLAlchemy, integrando los comandos SQL directamente en el código Python.

In [ ]:
%pip install duckdb
%pip install jupysql
%pip install duckdb-engine

Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (1.1.0)
Collecting jupysql
  Downloading jupysql-0.10.14-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.11.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.35)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (25.1.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.25-py3-none-any.whl.metadata (536 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.6.6-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.8.30)
Downloading jupysql-0.10.14-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.0/95.0 kB 4.4 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 6.8 MB/s eta 0:00:00
Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Downloading posthog-3.6.6-py2.py3-none-any.whl (54 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.3/54.3 kB 2.4 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.14 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.25 posthog-3.6.6
Collecting duckdb-engine
  Downloading duckdb_engine-0.13.2-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: duckdb>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from duckdb-engine) (1.1.0)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.10/dist-packages (from duckdb-engine) (24.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.10/dist-packages (from duckdb-engine) (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.1.1)
Downloading duckdb_engine-0.13.2-py3-none-any.whl (47 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.4/47.4 kB 2.0 MB/s eta 0:00:00
Installing collected packages: duckdb-engine
Successfully installed duckdb-engine-0.13.2

In [ ]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb://

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset_path = '/content/drive/MyDrive/FCEN_DMEYF/'
dataset_file = 'competencia_01_v1.csv'

creo una tabla desde mi archivo original

In [ ]:
%%sql
create or replace table competencia_01 as
select
    *
from read_csv_auto("{{dataset_path + dataset_file}}")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#como veo esa nueva tabla de sql
%%sql
select * from competencia_01 limit 10

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,252615133,202101,1,0,0,63,180,2927.46,8387.19,3265.66,...,4,0.0,-61947.40,0.0,5113,55229.69,12,0,3002.88,CONTINUA
1,252615133,202102,1,0,0,63,181,-1869.97,124.84,-1415.27,...,-3,0.0,-56405.08,0.0,5141,54078.42,13,0,2932.50,CONTINUA
2,252615133,202103,1,0,0,63,182,241.22,-5004.90,1001.36,...,1,0.0,-56068.76,0.0,5172,57895.12,10,0,3108.45,CONTINUA
3,252615133,202104,1,0,0,63,183,494.12,-7642.96,1140.60,...,2,0.0,-59547.45,0.0,5202,64441.85,12,0,1219.92,CONTINUA
4,252615133,202105,1,0,0,63,184,-220.00,-5026.32,3103.40,...,5,0.0,-66022.80,0.0,5233,58664.45,11,0,3284.40,None
5,252615133,202106,1,0,0,63,185,-298.45,-2929.41,806.02,...,0,0.0,-62912.14,0.0,5263,52757.56,9,0,2979.42,None
6,261128710,202101,1,0,0,48,320,1445.94,15382.54,141.58,...,4,0.0,-3470.35,0.0,8525,4868.12,5,0,516.12,CONTINUA
7,261128710,202102,1,0,0,49,321,1897.11,15744.88,98.28,...,-3,0.0,-6775.06,0.0,8553,703.74,3,0,645.15,CONTINUA
8,261128710,202103,1,0,0,49,322,2791.30,16584.68,492.97,...,1,0.0,-5608.24,0.0,8584,1282.18,3,0,668.61,CONTINUA
9,261128710,202104,1,0,0,49,323,1434.56,16557.68,98.97,...,2,0.0,-7993.81,0.0,8614,1283.03,3,0,774.18,CONTINUA

In [ ]:
#dimensiones de la tabla competencia
%%sql
select count(*) as filas from competencia_01

    filas
0  981946

In [ ]:
%%sql
SELECT *
FROM competencia_01
WHERE cliente_edad IS NULL

Empty DataFrame
Columns: [numero_de_cliente, foto_mes, active_quarter, cliente_vip, internet, cliente_edad, cliente_antiguedad, mrentabilidad, mrentabilidad_annual, mcomisiones, mactivos_margen, mpasivos_margen, cproductos, tcuentas, ccuenta_corriente, mcuenta_corriente_adicional, mcuenta_corriente, ccaja_ahorro, mcaja_ahorro, mcaja_ahorro_adicional, mcaja_ahorro_dolares, cdescubierto_preacordado, mcuentas_saldo, ctarjeta_debito, ctarjeta_debito_transacciones, mautoservicio, ctarjeta_visa, ctarjeta_visa_transacciones, mtarjeta_visa_consumo, ctarjeta_master, ctarjeta_master_transacciones, mtarjeta_master_consumo, cprestamos_personales, mprestamos_personales, cprestamos_prendarios, mprestamos_prendarios, cprestamos_hipotecarios, mprestamos_hipotecarios, cplazo_fijo, mplazo_fijo_dolares, mplazo_fijo_pesos, cinversion1, minversion1_pesos, minversion1_dolares, cinversion2, minversion2, cseguro_vida, cseguro_auto, cseguro_vivienda, cseguro_accidentes_personales, ccaja_seguridad, cpayroll_trx, mpayroll, mpayroll2, cpayroll2_trx, ccuenta_debitos_automaticos, mcuenta_debitos_automaticos, ctarjeta_visa_debitos_automaticos, mttarjeta_visa_debitos_automaticos, ctarjeta_master_debitos_automaticos, mttarjeta_master_debitos_automaticos, cpagodeservicios, mpagodeservicios, cpagomiscuentas, mpagomiscuentas, ccajeros_propios_descuentos, mcajeros_propios_descuentos, ctarjeta_visa_descuentos, mtarjeta_visa_descuentos, ctarjeta_master_descuentos, mtarjeta_master_descuentos, ccomisiones_mantenimiento, mcomisiones_mantenimiento, ccomisiones_otras, mcomisiones_otras, cforex, cforex_buy, mforex_buy, cforex_sell, mforex_sell, ctransferencias_recibidas, mtransferencias_recibidas, ctransferencias_emitidas, mtransferencias_emitidas, cextraccion_autoservicio, mextraccion_autoservicio, ccheques_depositados, mcheques_depositados, ccheques_emitidos, mcheques_emitidos, ccheques_depositados_rechazados, mcheques_depositados_rechazados, ccheques_emitidos_rechazados, mcheques_emitidos_rechazados, tcallcenter, ccallcenter_transacciones, thomebanking, chomebanking_transacciones, ccajas_transacciones, ccajas_consultas, ...]
Index: []

[0 rows x 155 columns]

compara las fechas de vencimiento de las tarjetas MasterCard y Visa de la tabla competencia_01. Aquí te explico lo que hace cada parte de la consulta:

Explicación de la consulta:
Master_Fvencimiento y Visa_Fvencimiento:

Selecciona las columnas correspondientes a las fechas de vencimiento de las tarjetas MasterCard y Visa.
greatest(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_mayor:

Usa la función greatest() para obtener el valor más grande (la fecha más reciente) entre las dos columnas Master_Fvencimiento y Visa_Fvencimiento. Este valor se guarda con el alias tc_fvencimiento_mayor.
least(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_menor:

Similar a la función greatest(), pero least() devuelve el valor más pequeño (la fecha más antigua) entre las dos fechas. Se guarda con el alias tc_fvencimiento_menor.

#no correr

In [ ]:
%%sql
select
    Master_Fvencimiento
    , Visa_Fvencimiento
    , greatest(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_mayor
    , least(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_menor
from competencia_01 limit 10

,Master_Fvencimiento,Visa_Fvencimiento,tc_fvencimiento_mayor,tc_fvencimiento_menor
0,-757,-1122,-757,-1122
1,-729,-1094,-729,-1094
2,-698,-1063,-698,-1063
3,-668,-1033,-668,-1033
4,-637,-1002,-637,-1002
5,-607,-972,-607,-972
6,-545,-637,-545,-637
7,-517,-609,-517,-609
8,-486,-578,-486,-578
9,-456,-548,-456,-548

Lo siguiente es querer operar dos variables, como por ejemplo sumarla. Esto es sencillo

In [ ]:
%%sql
select
    Master_msaldototal
    , Visa_msaldototal
    , Master_msaldototal + Visa_msaldototal as tc_saldo_total
from competencia_01 limit 10

Pero un DS de a de veras mirará los datos y se encontrará con un campo que es null cuando se lo suma a otro dará null.

![image.png]()

In [ ]:
# %%sql
# select
#     Master_msaldototal
#     , Visa_msaldototal
#     , Master_msaldototal + Visa_msaldototal as tc_saldo_total
# from competencia_01 where Master_msaldototal is null limit 10

Esto no siempre es deseable y puede ser fácilmente evitable

#corro

In [ ]:
%%sql
create or replace table competencia_01 as
select
    *
    , ifnull(Master_msaldototal, 0) + ifnull(Visa_msaldototal, 0) as tc_saldo_total
from competencia_01 where Master_msaldototal is null limit 10

Empty DataFrame
Columns: [Success]
Index: []

Arma como un macro o funcion suma_sin_null que despeus lo podrias usar en cualqeuir cosa

In [ ]:
%%sql
CREATE OR REPLACE MACRO suma_sin_null(a, b) AS ifnull(a, 0) + ifnull(b, 0);

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#todas las variables que ya estaban
%%sql
select
    Master_msaldototal
   , Visa_msaldototal
   , suma_sin_null(Master_msaldototal, Visa_msaldototal) as tc_saldo_total
from competencia_01 limit 10

   Master_msaldototal  Visa_msaldototal  tc_saldo_total
0                0.00          48086.18        48086.18
1                0.00          47799.46        47799.46
2                0.00          50765.09        50765.09
3                0.00          56285.43        56285.43
4           187297.56          53633.54       240931.10
5                0.00          48645.84        48645.84
6                0.00           5775.84         5775.84
7                0.00           4781.11         4781.11
8                0.00           6814.85         6814.85
9                0.00           6898.83         6898.83

# agrego a la tabla las dos variables de recien

In [ ]:
%%sql
create or replace table competencia_01 as
select
    *
    , suma_sin_null(Master_msaldototal, Visa_msaldototal) as tc_saldo_total
    , greatest(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_mayor
    , least(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_menor
from competencia_01

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#numero de columnas
%%sql
select * from competencia_01 limit 20

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,tc_saldo_total,tc_fvencimiento_mayor,tc_fvencimiento_menor
0,252615133,202101,1,0,0,63,180,2927.46,8387.19,3265.66,...,0.0,5113,55229.69,12.0,0.0,3002.88,CONTINUA,48086.18,-757,-1122
1,252615133,202102,1,0,0,63,181,-1869.97,124.84,-1415.27,...,0.0,5141,54078.42,13.0,0.0,2932.50,CONTINUA,47799.46,-729,-1094
2,252615133,202103,1,0,0,63,182,241.22,-5004.90,1001.36,...,0.0,5172,57895.12,10.0,0.0,3108.45,CONTINUA,50765.09,-698,-1063
3,252615133,202104,1,0,0,63,183,494.12,-7642.96,1140.60,...,0.0,5202,64441.85,12.0,0.0,1219.92,CONTINUA,56285.43,-668,-1033
4,252615133,202105,1,0,0,63,184,-220.00,-5026.32,3103.40,...,0.0,5233,58664.45,11.0,0.0,3284.40,None,240931.10,-637,-1002
5,252615133,202106,1,0,0,63,185,-298.45,-2929.41,806.02,...,0.0,5263,52757.56,9.0,0.0,2979.42,None,48645.84,-607,-972
6,261128710,202101,1,0,0,48,320,1445.94,15382.54,141.58,...,0.0,8525,4868.12,5.0,0.0,516.12,CONTINUA,5775.84,-545,-637
7,261128710,202102,1,0,0,49,321,1897.11,15744.88,98.28,...,0.0,8553,703.74,3.0,0.0,645.15,CONTINUA,4781.11,-517,-609
8,261128710,202103,1,0,0,49,322,2791.30,16584.68,492.97,...,0.0,8584,1282.18,3.0,0.0,668.61,CONTINUA,6814.85,-486,-578
9,261128710,202104,1,0,0,49,323,1434.56,16557.68,98.97,...,0.0,8614,1283.03,3.0,0.0,774.18,CONTINUA,6898.83,-456,-548
10,261128710,202105,1,0,0,49,324,1177.02,16730.52,235.81,...,0.0,8645,7652.48,3.0,0.0,1208.19,None,12572.16,-425,-517
11,261128710,202106,1,0,0,49,325,1228.40,17188.36,505.83,...,0.0,8675,2570.41,4.0,0.0,1173.00,None,9505.56,-395,-487
12,261963290,202104,1,0,0,54,1,291.63,291.63,20.69,...,NaN,22,NaN,NaN,NaN,0.00,CONTINUA,0.00,-2190,-2190
13,261963290,202105,1,0,0,54,2,301.29,592.92,11.16,...,NaN,53,NaN,NaN,NaN,0.00,None,0.00,-2159,-2159
14,261963290,202106,1,0,0,54,3,1002.28,1595.20,204.48,...,0.0,83,0.00,0.0,0.0,187.68,None,1843.34,-2129,-2129
15,269538956,202101,1,0,0,57,191,1590.28,3276.27,1225.04,...,0.0,5628,0.00,0.0,0.0,1208.19,CONTINUA,4832.45,-1641,-2067
16,269538956,202102,1,0,0,57,192,1297.73,4377.10,1225.04,...,0.0,5656,0.00,0.0,0.0,738.99,CONTINUA,1264.94,-1613,-2039
17,269538956,202103,1,0,0,57,193,1787.85,7221.46,1592.20,...,0.0,5687,0.00,0.0,0.0,738.99,CONTINUA,1264.94,-1582,-2008
18,269538956,202104,1,0,0,57,194,1782.88,9781.81,1592.20,...,0.0,5717,0.00,0.0,0.0,738.99,CONTINUA,1264.94,-1552,-1978
19,269538956,202105,1,0,0,57,195,1777.61,12187.03,1592.20,...,0.0,5748,0.00,0.0,0.0,738.99,None,1264.94,-1521,-1947

TAREA: Escriba una macro para hacer un ratio de dos variables que sea seguro, donde no solo hay campos con null, también esta el problema de la división por cero. Como es costumbre comparta su solución por este canal. Lea https://duckdb.org/docs/sql/functions/numeric.html para referencias de funciones que puede usar.

---

"Claro!" me dirá, mientras lee esto con un mate en la mano, "para cosas fáciles usar SQL alcanza, pero para algo más complicado como crear campos contra el data drifting es difícil".... elija su medicina:

In [ ]:
# #Tarea, sume inversiones en pesos
# %%sql
# select
#     minversion1_pesos
#     , minversion2
#     , suma_sin_null(minversion1_pesos, minversion2) as inversionpesos_total
# from competencia_01  limit 10

   minversion1_pesos  minversion2  inversionpesos_total
0                0.0          0.0                   0.0
1                0.0          0.0                   0.0
2                0.0          0.0                   0.0
3                0.0          0.0                   0.0
4                0.0          0.0                   0.0
5                0.0          0.0                   0.0
6                0.0          0.0                   0.0
7                0.0          0.0                   0.0
8                0.0          0.0                   0.0
9                0.0          0.0                   0.0

In [ ]:
%%sql
CREATE OR REPLACE MACRO sum_nan(a, b, c) AS ifnull(a, 0) + ifnull(b, 0) + ifnull(c, 0);

Empty DataFrame
Columns: [Success]
Index: []

![image.png]()

In [ ]:
#monto total de prestamos
# %%sql
# select
#     ccomisiones_mantenimiento
#     , ccomisiones_otras
#     , suma_sin_null(ccomisiones_mantenimiento, ccomisiones_otras) as comision_total
# from competencia_01 limit 10

   ccomisiones_mantenimiento  ccomisiones_otras  comision_total
0                          1                 10              11
1                          1                 10              11
2                          1                  8               9
3                          0                 10              10
4                          0                 10              10
5                          0                  8               8
6                          0                  6               6
7                          0                  4               4
8                          0                  6               6
9                          0                  4               4

In [ ]:
# %%sql
# select
#     mcomisiones_mantenimiento
#     , mcomisiones_otras
#     , suma_sin_null(mcomisiones_mantenimiento, mcomisiones_otras) as mcomision_total
# from competencia_01 limit 10

   mcomisiones_mantenimiento  mcomisiones_otras  mcomision_total
0                    2626.15            3265.66          5891.81
1                   -2626.15           -1415.27         -4041.42
2                   -2626.15            1001.36         -1624.79
3                       0.00            1140.60          1140.60
4                       0.00            3103.40          3103.40
5                       0.00             806.02           806.02
6                       0.00             141.58           141.58
7                       0.00              98.28            98.28
8                       0.00             492.97           492.97
9                       0.00              98.97            98.97

In [ ]:
%%sql
create or replace table competencia_01 as
select
    *
    , suma_sin_null(ccomisiones_mantenimiento, ccomisiones_otras) as comision_total
    , suma_sin_null(mcomisiones_mantenimiento, mcomisiones_otras) as monto_comision_total
from competencia_01

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#como chequeo nombre de las variables
%%sql
select * from 'competencia_01' limit 22

In [ ]:
#armo un macro para un ratio
%%sql
CREATE OR REPLACE MACRO ratio(a, b) AS ifnull(a, 0) / ifnull(b, 0);

Empty DataFrame
Columns: [Success]
Index: []

![image.png]()

In [ ]:
#total ingresos
%%sql
select
    monto_comision_total
    , comision_total
    , mcomisiones_mantenimiento
    , ratio(monto_comision_total, comision_total) as promedio_comision
    , ratio(mcomisiones_mantenimiento, monto_comision_total) as ratio_mantenimiento
from competencia_01

,monto_comision_total,comision_total,mcomisiones_mantenimiento,promedio_comision,ratio_mantenimiento
0,5891.81,11,2626.15,535.619091,0.445729
1,-4041.42,11,-2626.15,-367.401818,0.649809
2,-1624.79,9,-2626.15,-180.532222,1.616301
3,1140.60,10,0.00,114.060000,0.000000
4,3103.40,10,0.00,310.340000,0.000000
...,...,...,...,...,...
981941,391.94,2,0.00,195.970000,0.000000
981942,252.28,4,0.00,63.070000,0.000000
981943,437.16,4,0.00,109.290000,0.000000
981944,27.41,2,0.00,13.705000,0.000000
981945,215.66,6,0.00,35.943333,0.000000

In [ ]:
#total ingresos
%%sql
create or replace table competencia_01 as
select
    *
    , ratio(monto_comision_total, comision_total) as promedio_comision
    , ratio(mcomisiones_mantenimiento, monto_comision_total) as ratio_mantenimiento
from competencia_01

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#analisis de los clientes
%%sql
select
    foto_mes
    , numero_de_cliente
    , cliente_antiguedad
    , row_number() over (partition by numero_de_cliente order by foto_mes) as cliente_antiguedad_2
    , percent_rank() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_3
    , cume_dist() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_4
    , ntile(4) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_5
    , ntile(10) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_6
from competencia_01
order by numero_de_cliente, cliente_antiguedad

,foto_mes,numero_de_cliente,cliente_antiguedad,cliente_antiguedad_2,cliente_antiguedad_3,cliente_antiguedad_4,cliente_antiguedad_5,cliente_antiguedad_6
0,202101,249221109,300,1,0.947564,0.947947,4,10
1,202102,249221109,301,2,0.947831,0.948213,4,10
2,202103,249221109,302,3,0.948291,0.948670,4,10
3,202104,249221109,303,4,0.948638,0.949016,4,10
4,202105,249221109,304,5,0.948950,0.949327,4,10
...,...,...,...,...,...,...,...,...
981941,202106,1598444941,1,1,0.000000,0.001553,1,1
981942,202106,1598471047,1,1,0.000000,0.001553,1,1
981943,202106,1598515897,1,1,0.000000,0.001553,1,1
981944,202106,1598517059,1,1,0.000000,0.001553,1,1
981945,202106,1598518152,1,1,0.000000,0.001553,1,1

In [ ]:
%%sql
create or replace table competencia_01 as
select
    *
    , row_number() over (partition by numero_de_cliente order by foto_mes) as cliente_antiguedad_2
    , percent_rank() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_3
    , cume_dist() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_4
    , ntile(4) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_5
    , ntile(10) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_6
from competencia_01

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

Qué paso? use las hermosas funciones analíticas de SQL. Al campo cliente_antiguedad (que no sufre de data drifting, solo esta para dar el ejemplo) para cada período (partition by foto_mes) la ordeno (order by cliente_antiguedad) y luego calculo las métricas de orden que pueden encontrar acá https://duckdb.org/docs/sql/window_functions.html#general-purpose-window-functions.

Seguiremos usando las funciones analíticas de SQL, esta vez para calcular features que utilizan valores del pasado.

Qué pasa si quiero agregar un feature que muestre el valor del periodo anterior?

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
from competencia_01
limit 10

   numero_de_cliente  foto_mes  ctrx_quarter  lag_1_ctrx_quarter
0          742807739    202106            85                86.0
1          743084136    202101            90                 NaN
2          743084136    202102           105                90.0
3          743084136    202103            93               105.0
4          743084136    202104            94                93.0
5          743084136    202105            81                94.0
6          743084136    202106            81                81.0
7          743557869    202101           137                 NaN
8          743557869    202102           162               137.0
9          743557869    202103           174               162.0

Podemos calcular el delta (diferencia) entre el valor pasado y el presente, para uno o varios meses

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
  , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
  , ctrx_quarter - lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
from competencia_01
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,lag_1_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter
0,315135287,202101,44,NaN,NaN,NaN
1,315135287,202102,53,44.0,9.0,NaN
2,315135287,202103,52,53.0,-1.0,8.0
3,315135287,202104,53,52.0,1.0,0.0
4,315135287,202105,43,53.0,-10.0,-9.0
5,315135287,202106,36,43.0,-7.0,-17.0
6,317689334,202101,57,NaN,NaN,NaN
7,317689334,202102,67,57.0,10.0,NaN
8,317689334,202103,73,67.0,6.0,16.0
9,317689334,202104,72,73.0,-1.0,5.0

Si necesitamos ya no solo traer un valor del pasado, sino una secuencia de valores, por ejemplo para calcular la media móvil con los últimos 3 meses anteriores? se puede hacer fácilmente

In [ ]:
#corro
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
  , lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
  , lag(ctrx_quarter, 3) over (partition by numero_de_cliente order by foto_mes) as lag_3_ctrx_quarter
  , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
  , ctrx_quarter - lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
  , avg(ctrx_quarter) over (partition by numero_de_cliente
                            order by foto_mes
                            rows between 3 preceding and current row) as avg_3_ctrx_quarter
from competencia_01
orde by numero_de_cliente, foto_mes
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,lag_1_ctrx_quarter,lag_2_ctrx_quarter,lag_3_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter_1,avg_3_ctrx_quarter
0,249267856,202101,667,NaN,NaN,NaN,NaN,NaN,667.00
1,249267856,202102,648,667.0,NaN,NaN,-19.0,NaN,657.50
2,249267856,202103,698,648.0,667.0,NaN,50.0,31.0,671.00
3,249267856,202104,678,698.0,648.0,667.0,-20.0,30.0,672.75
4,249267856,202105,653,678.0,698.0,648.0,-25.0,-45.0,669.25
...,...,...,...,...,...,...,...,...,...
981941,1595171165,202105,4,NaN,NaN,NaN,NaN,NaN,4.00
981942,1595171165,202106,35,4.0,NaN,NaN,31.0,NaN,19.50
981943,1595591303,202106,2,NaN,NaN,NaN,NaN,NaN,2.00
981944,1596887797,202106,3,NaN,NaN,NaN,NaN,NaN,3.00
981945,1597568866,202106,2,NaN,NaN,NaN,NaN,NaN,2.00

In [ ]:
%%sql
create or replace table competencia_01 as
select
  *
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
  , lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
  , lag(ctrx_quarter, 3) over (partition by numero_de_cliente order by foto_mes) as lag_3_ctrx_quarter
  , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
  , ctrx_quarter - lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
  , avg(ctrx_quarter) over (partition by numero_de_cliente
                            order by foto_mes
                            rows between 3 preceding and current row) as avg_3_ctrx_quarter
from competencia_01

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#ver cantidad de columnas
%%sql
select count(*) from information_schema.columns where table_name = 'competencia_01'

   count_star()
0           173

In [ ]:
%%sql
select * from competencia_01

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,cliente_antiguedad_3,cliente_antiguedad_4,cliente_antiguedad_5,cliente_antiguedad_6,lag_1_ctrx_quarter,lag_2_ctrx_quarter,lag_3_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter_1,avg_3_ctrx_quarter
0,249270768,202101,1,0,0,55,142,6399.93,45609.57,3000.42,...,0.577386,0.579932,3,6,NaN,NaN,NaN,NaN,NaN,52.00
1,249270768,202102,1,0,0,56,143,3998.22,46397.41,1877.76,...,0.579526,0.582068,3,6,52.0,NaN,NaN,-2.0,NaN,51.00
2,249270768,202103,1,0,0,56,144,2746.83,47650.73,3328.09,...,0.582116,0.584635,3,6,50.0,52.0,NaN,1.0,-1.0,51.00
3,249270768,202104,1,0,0,56,145,361.84,45523.59,1953.93,...,0.584305,0.586806,3,6,51.0,50.0,52.0,4.0,5.0,52.00
4,249270768,202105,1,0,0,56,146,21144.32,65597.59,1902.92,...,0.586501,0.589012,3,6,55.0,51.0,50.0,-4.0,0.0,51.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981941,1596907122,202106,1,0,0,48,1,120.04,120.04,59.78,...,0.000000,0.001553,1,1,NaN,NaN,NaN,NaN,NaN,10.00
981942,1596910624,202106,1,0,0,36,1,33.85,33.85,0.00,...,0.000000,0.001553,1,1,NaN,NaN,NaN,NaN,NaN,6.00
981943,1598058646,202106,0,0,0,33,1,14.92,14.92,0.00,...,0.000000,0.001553,1,1,NaN,NaN,NaN,NaN,NaN,4.00
981944,1598069799,202106,0,0,0,29,1,0.10,0.10,0.00,...,0.000000,0.001553,1,1,NaN,NaN,NaN,NaN,NaN,3.00
981945,1598197638,202106,0,0,0,28,1,54.06,54.06,0.00,...,0.000000,0.001553,1,1,NaN,NaN,NaN,NaN,NaN,2.00

Si embargo puede resultar incómodo escribir constantemente el over partition sobre todo si se buscan aplicar muchas veces para distintas funciones. Para reducir el código se puede usar la siguiente sintaxis

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , avg(ctrx_quarter) over ventana_3 as ctrx_quarter_media_3
  , max(ctrx_quarter) over ventana_3 as ctrx_quarter_max_3
  , min(ctrx_quarter) over ventana_3 as ctrx_quarter_min_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)
limit 10

In [ ]:
%%sql
create or replace table competencia_01 as
select
  *
  ,avg(ctrx_quarter) over ventana_3 as ctrx_quarter_media_3
  , max(ctrx_quarter) over ventana_3 as ctrx_quarter_max_3
  , min(ctrx_quarter) over ventana_3 as ctrx_quarter_min_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
%%sql
select * from competencia_01 limit 15

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,cliente_antiguedad_6,lag_1_ctrx_quarter,lag_2_ctrx_quarter,lag_3_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter_1,avg_3_ctrx_quarter,ctrx_quarter_media_3,ctrx_quarter_max_3,ctrx_quarter_min_3
0,249326703,202101,1,0,0,74,24,1668.72,31537.87,518.51,...,1,NaN,NaN,NaN,NaN,NaN,91.000000,91.000000,91,91
1,249326703,202102,1,0,0,74,25,1628.55,32026.27,402.86,...,1,91.0,NaN,NaN,-1.0,NaN,90.500000,90.500000,91,90
2,249326703,202103,1,0,0,74,26,1331.64,32468.53,1252.18,...,1,90.0,91.0,NaN,3.0,2.0,91.333333,91.333333,93,90
3,249326703,202104,1,0,0,74,27,-680.59,30323.68,489.09,...,1,93.0,90.0,91.0,5.0,8.0,93.000000,93.000000,98,90
4,249326703,202105,1,0,0,74,28,-1664.38,26391.96,508.56,...,1,98.0,93.0,90.0,-1.0,4.0,94.500000,94.500000,98,90
5,249326703,202106,1,0,0,74,29,-1425.18,21727.06,248.88,...,1,97.0,98.0,93.0,-8.0,-9.0,94.250000,94.250000,98,89
6,249555918,202101,1,0,0,64,320,8845.68,103728.27,-94.20,...,10,NaN,NaN,NaN,NaN,NaN,35.000000,35.000000,35,35
7,249555918,202102,1,0,0,65,321,9174.31,106522.27,-175.25,...,10,35.0,NaN,NaN,1.0,NaN,35.500000,35.500000,36,35
8,249555918,202103,1,0,0,65,322,9497.30,107691.75,-885.31,...,10,36.0,35.0,NaN,11.0,12.0,39.333333,39.333333,47,35
9,249555918,202104,1,0,0,65,323,10101.04,109275.92,60.33,...,10,47.0,36.0,35.0,8.0,19.0,43.250000,43.250000,55,35
10,249555918,202105,1,0,0,65,324,10239.59,109333.05,32.24,...,10,55.0,47.0,36.0,-1.0,7.0,48.000000,48.000000,55,36
11,249555918,202106,1,0,0,65,325,12559.80,113624.00,29.16,...,10,54.0,55.0,47.0,-13.0,-14.0,49.250000,49.250000,55,41
12,249647806,202101,1,0,0,54,154,2534.44,19138.02,1877.17,...,7,NaN,NaN,NaN,NaN,NaN,129.000000,129.000000,129,129
13,249647806,202102,1,0,0,54,155,1368.72,19427.37,1676.25,...,7,129.0,NaN,NaN,14.0,NaN,136.000000,136.000000,143,129
14,249647806,202103,1,0,0,54,156,356.04,18401.13,1184.80,...,7,143.0,129.0,NaN,2.0,16.0,139.000000,139.000000,145,129

Para saber más que funciones tenemos disponibles, recomiendo ver los siguientes links:

https://duckdb.org/docs/archive/0.8.1/sql/window_functions
https://duckdb.org/docs/archive/0.8.1/sql/aggregates
Un caso más, que ni me voy a molestar en explicar que significa...

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  ,regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_3 as ctrx_quarter_slope_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)
limit 10

... Alguno dirá "tenemos que escribir todo esto a mano? Son muchas variables!". Bueno no, use los conocimientos de programación para que la computadora trabaje para usted. Si tenemos una lista de campos

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , regr_slope(active_quarter, cliente_antiguedad) over ventana_3 as ctrx_active_quarter_slope_3
  , regr_slope(cliente_vip, cliente_antiguedad) over ventana_3 as ctrx_cliente_vip_slope_3
  , regr_slope(internet, cliente_antiguedad) over ventana_3 as ctrx_internet_slope_3
  , regr_slope(cliente_edad, cliente_antiguedad) over ventana_3 as ctrx_cliente_edad_slope_3
  , regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_3 as ctrx_cliente_antiguedad_slope_3
  , regr_slope(mrentabilidad, cliente_antiguedad) over ventana_3 as ctrx_mrentabilidad_slope_3
  ,regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_3 as ctrx_quarter_slope_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,ctrx_active_quarter_slope_3,ctrx_cliente_vip_slope_3,ctrx_internet_slope_3,ctrx_cliente_edad_slope_3,ctrx_cliente_antiguedad_slope_3,ctrx_mrentabilidad_slope_3,ctrx_quarter_slope_3
0,315135287,202101,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,315135287,202102,53,0.0,0.0,0.0,1.0,1.0,-39.610,9.0
2,315135287,202103,52,0.0,0.0,0.0,0.5,1.0,267.140,4.0
3,315135287,202104,53,0.0,0.0,0.0,0.3,1.0,236.750,2.6
4,315135287,202105,43,0.0,0.0,0.0,0.0,1.0,188.405,-2.9
5,315135287,202106,36,0.0,0.0,0.0,0.0,1.0,-255.294,-5.8
6,317689334,202101,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,317689334,202102,67,0.0,0.0,0.0,0.0,1.0,-5862.820,10.0
8,317689334,202103,73,0.0,0.0,0.0,0.0,1.0,-2326.750,8.0
9,317689334,202104,72,0.0,0.0,0.0,0.0,1.0,-1355.476,5.1

In [ ]:
nuevos_features = ""
for campo in campos:
  nuevos_features += f"\n, regr_slope({campo}, cliente_antiguedad) over ventana_3 as ctrx_{campo}_slope_3"
print(nuevos_features)

In [ ]:
campos = ['active_quarter', 'cliente_vip', 'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad']

Podemos hacer un script muy sencillo que nos genere el texto que hay que poner en una query para generar esas variables

In [ ]:
nuevos_features = ""
for campo in campos:
  nuevos_features += f"\n, regr_slope({campo}, cliente_antiguedad) over ventana_3 as ctrx_{campo}_slope_3"
print(nuevos_features)

, regr_slope(active_quarter, cliente_antiguedad) over ventana_3 as ctrx_active_quarter_slope_3
, regr_slope(cliente_vip, cliente_antiguedad) over ventana_3 as ctrx_cliente_vip_slope_3
, regr_slope(internet, cliente_antiguedad) over ventana_3 as ctrx_internet_slope_3
, regr_slope(cliente_edad, cliente_antiguedad) over ventana_3 as ctrx_cliente_edad_slope_3
, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_3 as ctrx_cliente_antiguedad_slope_3
, regr_slope(mrentabilidad, cliente_antiguedad) over ventana_3 as ctrx_mrentabilidad_slope_3

In [ ]:
%%sql
create or replace table competencia_01 as
select
  *
  , regr_slope(active_quarter, cliente_antiguedad) over ventana_3 as ctrx_active_quarter_slope_3
  , regr_slope(cliente_vip, cliente_antiguedad) over ventana_3 as ctrx_cliente_vip_slope_3
  , regr_slope(internet, cliente_antiguedad) over ventana_3 as ctrx_internet_slope_3
  , regr_slope(cliente_edad, cliente_antiguedad) over ventana_3 as ctrx_cliente_edad_slope_3
  , regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_3 as ctrx_cliente_antiguedad_slope_3
  , regr_slope(mrentabilidad, cliente_antiguedad) over ventana_3 as ctrx_mrentabilidad_slope_3
  , regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_3 as ctrx_quarter_slope_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#cantidad de columas
%%sql
select * from competencia_01 limit 20

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,tc_fvencimiento_menor,comision_total,monto_comision_total,promedio_comision,ratio_mantenimiento,cliente_antiguedad_2,cliente_antiguedad_3,cliente_antiguedad_4,cliente_antiguedad_5,cliente_antiguedad_6
0,688040903,202102,0,0,0,49,1,0.00,0.00,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
1,689282700,202102,0,0,0,38,1,0.00,0.00,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
2,728539850,202102,1,0,0,35,1,511.54,511.54,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
3,844735487,202102,0,0,0,39,1,137.58,137.58,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
4,858470352,202102,1,0,0,40,1,66.66,66.66,12.91,...,-2190,2,12.91,6.455,0.0,1,0.0,0.001383,1,1
5,859958435,202102,0,0,0,51,1,-86.94,-86.94,-62.54,...,-2190,2,-62.54,-31.270,-0.0,1,0.0,0.001383,1,1
6,947096064,202102,0,0,0,38,1,239.58,239.58,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
7,1583385350,202102,0,0,0,31,1,0.00,0.00,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
8,1583465495,202102,0,0,0,47,1,23.16,23.16,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
9,1035302808,202102,0,0,0,56,1,0.00,0.00,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
10,1073305026,202102,1,0,0,29,1,735.97,735.97,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
11,1428820234,202102,0,0,0,28,1,-42.39,-42.39,-42.39,...,-2190,2,-42.39,-21.195,-0.0,1,0.0,0.001383,1,1
12,1436533800,202102,0,0,0,32,1,186.38,186.38,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
13,604702918,202102,0,0,0,39,1,0.00,0.00,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
14,261713588,202102,0,0,0,65,1,3.15,3.15,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
15,653013228,202102,1,0,0,50,1,1316.76,1316.76,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
16,662337687,202102,0,0,0,40,1,0.00,0.00,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
17,669604941,202102,1,0,0,65,1,0.01,0.01,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
18,807504330,202102,1,0,0,40,1,96.85,96.85,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1
19,945251592,202102,0,0,0,68,1,5.52,5.52,0.00,...,-2190,0,0.00,NaN,NaN,1,0.0,0.001383,1,1




Con la salida de esa celda, arme la query agregando las nuevas líneas y la ejecuta.

Lo que acabamos de hacer de manera muy simple es como "funcionan" sistemas como **dbt** que están tan de moda en el mundo de los datos.

La última reflexión, la creación de nuevas features es un proceso computacionalmente rápido pero intenso. Si ejecutó lo anterior pudo haber visto que en poco minutos tenía sus nuevas variables. Pero, también pudo haberle fallado por temas de recursos. Miles de variables necesitan los recursos adecuados. Use la nube, una máquina grande, al menos que sepa bien como optimizar las queries.

Y a no olvidarse guardar las nueva tabla

In [ ]:
# quiero ver como es competencia_01
%%sql
select * from competencia_01 limit 10

UsageError: Cell magic `%%sql` not found.

In [ ]:
#como agrego ctrx_quarter_slope_3	ctrx_active_quarter_slope_3	ctrx_cliente_vip_slope_3	ctrx_internet_slope_3	ctrx_cliente_edad_slope_3	ctrx_cliente_antiguedad_slope_3	ctrx_mrentabilidad_slope_3

In [ ]:
%%sql
COPY competencia_01 TO '/content/drive/MyDrive/FCEN_DMEYF/competencia_01_fe_v4.csv' (FORMAT CSV, HEADER TRUE);

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
#como guardar una tabla de sql
%%sql
COPY competencia_01 TO '/content/drive/MyDrive/FCEN_DMEYF/competencia_01_fe_v2.csv' (FORMAT CSV, HEADER TRUE);